.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

body {
	margin: 0;
	background-color: #f0f0f0;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
}



/* ======================== font styling */

h1, h2, h3, h4, h5 {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
	color: #f98039;
}

p, h6 {
	font-family: 'PT Serif', serif;
	/*font-family: 'Lora', serif; */
	font-weight: 400;
}

h1 {
	background: url(../images/logo.png) no-repeat;
	margin: 0 auto;
	text-indent: -9999px;
	height: 55px;
	display: inline-block;


}




/*======================================================= HEADER ============*/

header p {
	margin: .5em 0;
	font-size: .65em;
	color: #cecece;
	letter-spacing: 1px;
}

header {
	text-align: center;
	background-color: #151b26;
	border-bottom: 2px solid #f98039;
	color: #f0f0f0; 
	padding-top: 1em;
}

header .wrapper {
	background-color: transparent;
}


/*======================================================= BANNER + NAV ============*/
.hook {
	color: #f0f0f0;
	text-align: left;
	margin: 0;
	margin-bottom: 50px;
	font-style: italic;
}

.banner {

	background: url(../images/banner-mobile.png) no-repeat; 
	background-size: cover;
	background-position: right center;
	margin: 0;
	padding: 8em 3% .3em 3%;

}

.extraAbout {
	display: none;
}

.navLinks {
	list-style: none;
	padding-left: 0;
	max-width: 420px;
}

.navLinks a {
	display: block;
	border: 2px solid #f98039;
	text-decoration: none;
	padding: 1em;
	color: #f0f0f0;
	/*font-family: 'Lato', sans-serif; */
	font-family: 'Pontano Sans', sans-serif;
	text-transform: uppercase;
	font-size: .7em;
	letter-spacing: 1px;
}

.navLinks li {
	display: block;
	margin-bottom: .5em;
}



/*======================================================= MAIN CONTENT ============*/

h3 {
	padding-top: 2.5em;
	font-style: bold;
	font-size: 1.5em;
}

.subtitle {
	font-style: italic;
}

main {
	padding: 0 3%;
}

main p {
	margin: 0;
	line-height: 1.5;
}

.divider {
	border-bottom: 1px solid #f98039;
	margin-top: 60px;
	width: 15%;
}

h4 {
	font-size: 1.3em;
	margin: 60px 0 .5em 0;
	
}

.practiceList {
	padding-left: 0;
	margin-left: 6%;
	line-height: 1.5;
}





/*======================================================= SUBCONTENT ============*/

h5 {
	margin-top: 60px;
	font-size: 1.05em;

}

aside {
	padding: 0 3%;
}

.subText {

	font-size: .85em;
	color: #8d9096;
	line-height: 1.5;
	margin-bottom: 0;
}

.textLink {
	color: #f98039;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Pontano Sans', sans-serif;
	text-transform: uppercase;
	font-size: .65em;
	text-decoration: underline;
	letter-spacing: 1px;

}

.aliceName {
	color: #8d9096;
	font-size: 1em;
	font-style: italic;
}

.aliceService {
	padding-left: 0;
	margin-left: 3%;
	margin-top: 0;
}

.aliceMore a {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Pontano Sans', sans-serif; 
	text-transform: uppercase;
	font-size: .65em;
	border: 2px solid #f98039;
	display: block;
	padding: 1em;
	margin: 3em 0 8em 0;
	max-width: 420px;
	text-decoration: none;
	color: #f98039;
	letter-spacing: 1px;

}

h6 {
	/*font-family: 'Lato', sans-serif; */
	font-family: 'Pontano Sans', sans-serif;
	margin: 0;
	padding-bottom: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
	/*font-weight: 400; */
	color: #9da6ad;

}
footer {
	text-align: center;
	background-color: #151b26;
	border-top: 2px solid #f98039;
	padding-top: 1em;

}

footer a {
	color: #9da6ad;
	margin: 0;
}










/* ================= 660px ================= */



@media screen and (min-width: 660px) {


	header {
		position: relative;
	}

	h1 {
		display: block;
		margin-left: 1%;
		margin-bottom: .1em;

	}
	header .wrapper {
		position: relative;
		background-color: transparent;
	}
	header p {
		position: absolute;
		top: 0;
		right: 1% ;
	}


	.navLinks {
		position: absolute;
		top: 30px;
		right: 10px;
	}
	.navLinks li {
		display: inline-block;
		margin: 0;

	}

	.navLinks a {
		border: none;
	}

	.navLinks a:hover {
		color: #f98039;
		transition: color 1s ease;
	}

	.extraAbout {
		display: block;
		border: 2px solid #f98039;
		text-decoration: none;
		padding: 1em;
		color: #f0f0f0;
		/*font-family: 'Lato', sans-serif; */
		font-family: 'Pontano Sans', sans-serif;
		text-transform: uppercase;
		font-size: .7em;
		letter-spacing: 1px;
		width: 110px;
		margin: 8em 0 10em 0;
	}
	.extraAbout:hover {
		transition: border-color 1s ease;
	}

	main {
		width: 55%;
		float: left;
		background-color: #fff;
		margin-top: -4em;
		margin-left: 2em;
	}
	aside {
		width: 25%;
		float: left;

	}
	h3 {
		padding-top: 0;
	}
	 img {
	 	width: 100%;
	 }
	 aside .news {
	 	display: none;
	 }

	 .textLink:hover {
	 	color: #151b26;
	 	transition: color .5s ease;
	 }

	.aliceMore a:hover {
		border-color: #151b26;
		transition: border-color 1s ease;
	}
	.extraAbout:hover {
		border-color: #f0f0f0;
		transition: border-color 1s ease;
	}

@media screen and (min-width: 880px) {

	.wrapper {
		max-width: 880px;
		margin: 0 auto;

	}

}